<mat-sidenav-container class="container">
  <mat-sidenav class="menu" #sidenav mode="over">
    <app-tree></app-tree>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button
        class="menu-button"
        mat-icon-button
        aria-label="Menu"
        (click)="sidenav.toggle()"
      >
        <img src="/assets/icon/menu.svg" alt="" />
      </button>
      <p class="title">REFERLY</p>
    </mat-toolbar>

    <ion-router-outlet></ion-router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
