<div class="container" *ngIf="item">
  <div>
    <span *ngFor="let keyword of item.keywords; let last = last">
      {{ keyword }}
      <span *ngIf="!last">, </span>
    </span>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Contenu</mat-label>
    <textarea
      matInput
      placeholder="Prends une photo pour voir son texte apparaître ici..."
      class="content"
      [value]="item.content"
      [(ngModel)]="item.content"
      (ngModelChange)="onTextChange($event)"
    ></textarea>
  </mat-form-field>
</div>
