<span class="tree-title">Catégories</span>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- standard node -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    matTreeNodePadding
    (click)="onNodeSelected(node)"
  >
    {{ node.item }}
  </mat-tree-node>

  <!-- nodes with no content : subCategories -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasNoContent"
    matTreeNodePadding
  >
    <mat-form-field>
      <mat-label>Nouvel élément...</mat-label>
      <input matInput #itemValue placeholder="Économie, finance..." />
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <!-- expanded or collapsed nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.item"
    >
      <img
        [src]="
          treeControl.isExpanded(node)
            ? '/assets/icon/expand_more.svg'
            : '/assets/icon/chevron_right.svg'
        "
        alt=""
      />
    </button>
    {{ node.item }}
    <button mat-icon-button (click)="insertSubCategory(node)">
      <img src="/assets/icon/add.svg" alt="" />
    </button>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: isCategory"
    matTreeNodePadding
  >
    <button mat-icon-button matTreeNodeToggle>
      <img
        [src]="
          treeControl.isExpanded(node)
            ? '/assets/icon/expand_more.svg'
            : '/assets/icon/chevron_right.svg'
        "
        alt=""
      />
    </button>

    {{ node.item }}

    <button mat-icon-button (click)="insertSubCategory(node)">
      <img src="/assets/icon/add.svg" alt="" />
    </button>
  </mat-tree-node>
</mat-tree>

<div class="category-container">
  <mat-form-field>
    <mat-label>Nouvelle catégorie...</mat-label>
    <input matInput #itemValue placeholder="Presse, littérature..." />
  </mat-form-field>
  <button mat-button (click)="insertCategory(itemValue.value)">Ajouter</button>
</div>

<div>
  <button mat-button (click)="clearTree()">Clear</button>
</div>

<div>
  <button mat-button (click)="export()">Exporter</button>
</div>
