.container {
  margin: 80px 30px;
  height: 100%;
}

.list-items {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.add-fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.items-length {
  font-size: 20px;
  font-weight: 500;
}
